@import "./base/common";

@import "./components/logo";
@import "./components/mobile-menu";
@import "./components/modal-window";
@import "./components/gallery";
@import "./components/review";
@import "./components/products";

@import "./layout/header";
@import "./layout/navigation";
@import "./layout/hero";

/*@import "./contacts";*/

