@import './base/common';

@import './components/logo';
@import './components/advantages';
@import './components/about';
@import './components/mobile-menu';
@import './components/modal-window';
@import './components/gallery';
@import './components/review';

@import './layout/header';
@import './layout/navigation';
