<!-- about section -->
<!-- title -->

<p class="about__description">TRADITION AND LOVE</p>
<h2 class="about__title">HOW IT’S MADE?</h2>

<!-- about image -->

    <div class="container">
        <picture class="about__image">
            <source
            srcset=".src/images/about/about280.png 320w, .src/images/about/about280@2x.png 640w"
            media="(max-width: 767px) 480px, 100vw"
            />
            <source
            srcset=".src/images/about/about340.png 768w, .src/images/about/about340@2x.png 1539w"
            media="(min-width: 768px) 768px, 100vw"
            />
            <source
            srcset=".src/images/about/about516.png 1280w, .src/images/about/about516@2x.png 2560w"
            media="(min-width: 1200px) 1200px, 100vw"
            />
            <img src=".src/images/about/about280.png" alt="picture-cow-and-milk" />
        </picture>
    </div>

<!-- about info -->

<ul class="about__list">
    <li class="about__item">
        <p class="about__item-first-description">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
            Maecenas eleifend erat at justo fringilla.
        </p>
    </li>
    <li class="about__item">
        <p class="about__item-second-description">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
            
            Aliquam erat volutpat. Aenean accumsan.
        </p>
    </li>
</ul>

<!-- about button -->

<div class="about__button">
    <button>Read more</button>
</div>