<!-- head just to look during programming -->
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ice Cream Passion</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
        integrity="sha512-ISS7cAi1PEhQ8jnbJpJZMd29NlhNj4AWYyLOSp2CE/CsHxTCu+r+t0D2yoJudVrd0/8fTVPUVDzY5Tvli75u/g=="
        crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap"
        rel="stylesheet" />

    <link rel="stylesheet" href="../sass/main.css" />

<body></body>
</head>
<!-- end just to look head -->


<!-- about section -->

<section class="about section">
<div class="container">
<!-- title -->

<p class="about__description">TRADITION AND LOVE</p>
<h2 class="about__title">HOW IT’S MADE?</h2>

<!-- about image -->


        <picture class="about__image">
            <source
            srcset="../images/about/about280.png 320w, ../images/about/about280@2x.png 640w"
            media="(max-width: 767px) 480px, 100vw"
            />
            <source
            srcset="../images/about/about340.png 768w, ../images/about/about340@2x.png 1539w"
            media="(min-width: 768px) 768px, 100vw"
            />
            <source
            srcset="../images/about/about516.png 1280w, ../images/about/about516@2x.png 2560w"
            media="(min-width: 1200px) 1200px, 100vw"
            />
            <img src="../images/about/about280.png" alt="picture-cow-and-milk" />
        </picture>
    

<!-- about info -->

<ul class="about__list">
    <li class="about__item">
        <p class="about__item-first-description">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
            Maecenas eleifend erat at justo fringilla.
        </p>
    </li>
    <li class="about__item">
        <p class="about__item-second-description">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,<br /> tincidunt.<br />
            <br />
            Aliquam erat volutpat. Aenean accumsan.<br />
        </p>
    </li>
</ul>


<!-- about button -->

<div class="about__menu-buttons">
   <button class="about__modal-window--open-btn" type="button">Read more
    <svg class="about__modal-window--icon">
        <use href="../images/svg-sprite.svg#icon-buy-now"></use>
    </svg>
</button> 
</div>



</div>
</section>