<!-- about section -->

<section class="about section2">
<div class="container-about">
<!-- title -->
<div>
<p class="about__description">TRADITION AND LOVE</p>
<h2 class="about__title"><a id="how-it-s-made">HOW IT’S MADE?</a></h2>
</div>

<!-- about info -->
<div class="about__list-box">
    <ul class="about__list-divided">
        <li>    
            <div class="about__img">
                <img src="./images/about/about516.png"/>
            </div>
        </li>
    <li><ul class="about__list">
        <li class="about__item">
            <p class="about__item-first-description">
                Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
                Maecenas eleifend erat at justo fringilla.
            </p>
        </li>
        <li class="about__item">
            <p class="about__item-second-description">
                Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
                Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,<br /> tincidunt.<br />
                <br />
                Aliquam erat volutpat. Aenean accumsan.<br />
            </p>
            <p class="about__item-second-description-hidden">
                Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
                Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna <br /> maximus. Cras massa nibh, tincidunt.<br />
                <br />
                Aliquam erat volutpat. Aenean accumsan.<br />
            </p>
            <div class="about__menu-buttons">
                <button class="about__modal-window--open-btn" type="button">Read more
                    <svg class="about__modal-window--icon">
                        <use href="./images/icons.svg#icon-buy-now"></use>
                    </svg>
                </button> 
            </div>
        </li>
    </li></ul>

    
</div>

</div>
</section>