<!-----  Advantages
Sekcja nie ma widocznego tytułu. 
Konieczne jest wykonanie ukrytego nagłówka dla robotów.
Sekcja zawiera listę korzyści. Musi być zaimplementowany jako siatka elementów.
Ikony korzyści w układzie są renderowane w formacie png. 
W układzie muszą być zaimplementowane z pseudo-elementami.
---->

<!-- head just to look during programming -->
<!-- <!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ice Cream Passion</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
      integrity="sha512-ISS7cAi1PEhQ8jnbJpJZMd29NlhNj4AWYyLOSp2CE/CsHxTCu+r+t0D2yoJudVrd0/8fTVPUVDzY5Tvli75u/g=="
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../sass/main.css" />
    <body></body>
  </head> -->
<!-- end just to look head -->

<!-- advantages section -->
<!-- title --> <!----- hidden header ---->
<section class="advantages section">
    <div class="container">
        <h2 class="advantages__title-hidden">advantages</h2>
<!-- advantages info -->
        <ul class="advantages__list list">
            <li class="advantages__item">
                <h3 class="advantages__item-title">721</h3>
                <p class="advantages__item-description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>

            <li class="advantages__item">
                <h3 class="advantages__item-title">16KG</h3>
                <p class="advantages__item-description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>

            <li class="advantages__item">
                <h3 class="advantages__item-title">84</h3>
                <p class="advantages__item-description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>

        </ul>
    </div>
</section>