
<!-- advantages section -->
<!-- title --> <!----- hidden header ---->
<section class="advantages section">
    <div class="container">
        <h2 class="advantages__title-hidden">advantages</h2>
<!-- advantages info -->
        <div class="advantages__list-box">
        <ul class="advantages__list list">
            <li class="advantages__item">
                <h3 class="advantages__item-title">721</h3>
                <p class="advantages__item-description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>

            <li class="advantages__item">
                <h3 class="advantages__item-title">16KG</h3>
                <p class="advantages__item-description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>

            <li class="advantages__item">
                <h3 class="advantages__item-title">84</h3>
                <p class="advantages__item-description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>

        </ul>
        </div>
    </div>
</section>