<!-----  Advantages
Sekcja nie ma widocznego tytułu. 
Konieczne jest wykonanie ukrytego nagłówka dla robotów.
Sekcja zawiera listę korzyści. Musi być zaimplementowany jako siatka elementów.
Ikony korzyści w układzie są renderowane w formacie png. 
W układzie muszą być zaimplementowane z pseudo-elementami.
---->

<!----- advantages section ---->
<!----- hidden header ---->
<h2 class="advantages__hiddenheader">advantages</h2>

<!---- Group 30 ---->
<div class="advantages__box">


<!-- icon -->
    <div class="advantages__icon">
        <img src="" alt="milk-icon" />
    </div>

<!-- title -->

    <h2 class="advantages__title">721</h2>

<!-- about info -->

    <p class="advantages__item-description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
    </p>

</div>

<!---- Group 31 ---->
<div class="advantages__box">


<!-- icon -->
    <div class="advantages__icon">
        <img src="" alt="apple-fruit-icon" />
    </div>

<!-- title -->

    <h2 class="advantages__title">16KG</h2>

<!-- about info -->

    <p class="advantages__item-description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
    </p>


</div>

<!---- Group 32 ---->

<div class="advantages__box">

<!-- icon -->
    <div class="advantages__icon">
        <img src="" alt="sweat-heart-icon" />
    </div>


<!-- title -->

    <h2 class="advantages__title">84</h2>

<!-- about info -->

    <p class="advantages__item-description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
    </p>

</div>
