<!-- Contacts -->

<h2 hidden>CONTACTS</h2>

  <div class="cnts__background">
    <section class="cnts__wrapper">      
      <div class="cnts__category cnts__category--cafe">CAFE</div>
      <div class="cnts__place">
        <div class="cnts__location">Chicago</div>
        <div class="cnts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</div>
      </div>
      <div class="cnts__opening">
          <div class="cnts__opening-days">Monday - Friday</div>
          <div class="cnts__opening-hours">06:00 AM - 10:00 PM</div>
          <div class="cnts__opening-days">Saturday - Sunday</div>
          <div class="cnts__opening-hours">08:00 AM - 16:00 PM</div>
      </div>
      <div class="cnts__digits">
          <a href="tel:+61(0)383766284" class="cnts__phone">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="cnts__email" >noreply@envato.com</a>
      </div>
    </div>

    <div class="cnts__background">
      <div class="cnts__category cnts__category--foodtruck">FOOD TRUCK</div>
      <div class="cnts__place">
        <div class="cnts__location">Los Angeles</div>
        <div class="cnts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</div>
      </div>
      <div class="cnts__opening">
        <div class="cnts__opening-days">Monday - Friday</div>
        <div class="cnts__opening-hours">06:00 AM - 10:00 PM</div>
        <div class="cnts__opening-days">Saturday - Sunday</div>
        <div class="cnts__opening-hours">08:00 AM - 16:00 PM</div>
      </div>
      <div class="cnts__digits">
        <a href="tel:+61(0)383766284" class="cnts__phone">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com" class="cnts__email">noreply@envato.com</a>
      </section>
  </div>

  <div class="cnts__background">
    <div class="cnts__category cnts__category--cafe">CAFE</div>
    <div class="cnts__place">
      <div class="place__location">New York</div>
      <div class="place__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</div>
    </div>
    <div class="cnts__opening">
        <div class="cnts__opening-days">Monday - Friday</div>
        <div class="cnts__opening-hours">06:00 AM - 10:00 PM</div>
        <div class="cnts__opening-days">Saturday - Sunday</div>
        <div class="cnts__opening-hours">08:00 AM - 16:00 PM</div>
    </div>
    <div class="digits">
      <a href="tel:+61(0)383766284" class="cnts__phone">+61(0) 383 766 284</a>
      <a href="mailto:noreply@envato.com" class="cnts__email">noreply@envato.com</a>
    </div>
  </div>

  <div class="cnts__slider">
    <button class="cnts__button" 
            type="button">Our Locations
      <svg class="cnts__button-icon">
        <!-- <use href="images/icons.svg#our-locations" 
                 class="cnts__slider-arrow">
        </use> -->
      </svg>
    </button>
    <button class="cnts__button" 
            type="button">Franchise
      <svg class="cnts__button-icon">
        <!-- <use href="images/icons.svg#franchise" 
             class="cnts__slider-arrow">
        </use> -->
      </svg>
    </button>
  </div>