<!-- Contacts -->
<section class="contacts">
  <div class="contacts__wrapper">
    <h2 hidden>CONTACTS</h2>
    <div class="contacts__display">
      <div class="contacts__background contacts__background--first">
        <div class="contacts__category contacts__category--cafe">CAFE</div>
        <div class="contacts__place">
          <div class="contacts__location">Chicago</div>
          <div class="contacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </div>
        </div>
        <div class="contacts__opening">
          <div class="contacts__opening-days">Monday - Friday</div>
          <div class="contacts__opening-hours">06:00 AM - 10:00 PM</div>
          <div class="contacts__opening-days">Saturday - Sunday</div>
          <div class="contacts__opening-hours">08:00 AM - 16:00 PM</div>
        </div>
        <div class="contacts__digits">
          <div>
            <a href="tel:+61(0)383766284" class="contacts__phone">+61(0) 383 766 284</a>
          </div>
          <div>
            <a href="mailto:noreply@envato.com" class="contacts__email">noreply@envato.com</a>
          </div>
        </div>
      </div>

      <div class="contacts__background">
        <div class="contacts__category contacts__category--foodtruck">FOOD TRUCK</div>
        <div class="contacts__place">
          <div class="contacts__location">Los Angeles</div>
          <div class="contacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </div>
        </div>
        <div class="contacts__opening">
          <div class="contacts__opening-days">Monday - Friday</div>
          <div class="contacts__opening-hours">06:00 AM - 10:00 PM</div>
          <div class="contacts__opening-days">Saturday - Sunday</div>
          <div class="contacts__opening-hours">08:00 AM - 16:00 PM</div>
        </div>
        <div class="contacts__digits">
          <div>
            <a href="tel:+61(0)383766284" class="contacts__phone">+61(0) 383 766 284</a>
          </div>
          <div>
            <a href="mailto:noreply@envato.com" class="contacts__email">noreply@envato.com</a>
          </div>
        </div>
      </div>

      <div class="contacts__background">
        <div class="contacts__category contacts__category--cafe">CAFE</div>
        <div class="contacts__place">
          <div class="contacts__location">New York</div>
          <div class="contacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </div>
        </div>
        <div class="contacts__opening">
          <div class="contacts__opening-days">Monday - Friday</div>
          <div class="contacts__opening-hours">06:00 AM - 10:00 PM</div>
          <div class="contacts__opening-days">Saturday - Sunday</div>
          <div class="contacts__opening-hours">08:00 AM - 16:00 PM</div>
        </div>
        <div class="contacts__digits">
          <div>
            <a href="tel:+61(0)383766284" class="contacts__phone">+61(0) 383 766 284</a>
          </div>
          <div>
            <a href="mailto:noreply@envato.com" class="contacts__email">noreply@envato.com</a>
          </div>
        </div>
      </div>
    </div>

    <div class="contacts__slider">
      <button class="contacts__button-left" type="button">
        Our Locations
        <svg class="contacts__button-icon">
          <use href="images/icons.svg#our-locations" class="contacts__slider-arrow"></use>
        </svg>
      </button>
      <button class="contacts__button-right" type="button">
        Franchise
        <svg class="contacts__button-icon">
          <use href="images/icons.svg#franchise" class="contacts__slider-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
