
<!-- gallery -->
<div class="box">
  <div class="gallery">

    <img class="gallery__img2" src="images/gallery/ice-cream-winter.jpg" srcset="images/gallery/ice-cream-winter@2.jpg 2x" alt="ice cream">
    <img class="gallery__img3" src="images/gallery/ice-cream-3.jpg" srcset="images/gallery/ice-cream-3@2.jpg 2x" alt="ice cream on pink dress">
  </div>
<div class="gallery gallery--2">
  <img class="gallery__img" src="images/gallery/ice-cream-avocado.jpg" srcset="images/gallery/ice-cream-avocado@2.jpg 2x" alt="avocado ice cream">
  <img class="gallery__img" src="images/gallery/ice-cream-jeffrey.jpg" srcset="images/gallery/ice-cream-jeffrey@2.jpg 2x" alt="jeffrey is eating ice cream">
  <img class="gallery__img" src="images/gallery/ice-cream-white.jpg" srcset="images/gallery/ice-cream-white@2.jpg 2x" alt="ice cream">
  <img class="gallery__img2" src="images/gallery/ice-cream-joe-biden1.jpg" srcset="images/gallery/ice-cream-joe-biden1@2.jpg x2" alt="joe biden with our ice cream">
</div>
<div class="gallery">
  <img class="gallery__img" src="images/gallery/ice-cream-cake1.jpg" srcset="images/gallery/ice-cream-cake1@2.jpg 2x" alt="ice cream">
  <img class="gallery__img" src="images/gallery/ice-cream-double.jpg" srcset="images/gallery/ice-cream-double@2.jpg 2x" alt="ice cream">
  <img class="gallery__img" src="images/gallery/ice-cream-lemon.jpg" srcset="images/gallery/ice-cream-lemon@2.jpg 2x" alt="ice cream">
</div>
<div class="gallery">
  <img class="gallery__img" src="images/gallery/ice-cream-pink.jpg" srcset="images/gallery/ice-cream-pink@2.jpg 2x" alt="ice cream on pink dress">
  <img class="gallery__img" src="images/gallery/ice-cream-2.jpg" srcset="images/gallery/ice-cream-2@2.jpg 2x" alt="ice cream">
  <img class="gallery__img" src="images/gallery/ice-cream-rainbow.jpg" srcset="images/gallery/ice-cream-rainbow@2.jpg 2x" alt="ice cream in diffrent colors">
</div>
<div class="gallery">
  <img class="gallery__img2" src="images/gallery/ice-cream-boy.jpg" srcset="images/gallery/ice-cream-boy@2.jpg" alt="ice cream">
</div>
</div>
<!-- Customers review -->
<div class="review">
  <div class="review-gallery">
    <div class="review-gallery__opinion">
      <div class="review-gallery__reviewer">
        <img class="review-gallery__img" src="images/reviewers/reviewer_1.jpg" alt="Emily" />
      </div>
      <div class="review-gallery__text-box">
        <svg width="54" height="40" class="mark" fill="rgba(0, 0, 0, 0.5)"><use href="images/icons.svg#mark"></use></svg>
        <p class="review-gallery__p">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <div class="review-gallery__deco">
        <span class="review-gallery__ellipse"></span>
        <span class="review-gallery__ellipse"></span>
        <span class="review-gallery__ellipse"></span>
      </div>
      <p class="review-gallery___customer">Emily, Los Angeles</p>
    </div>
    <div class="review-gallery__opinion">
      <div class="review-gallery__reviewer">
        <img class="review-gallery__reviewer" src="images/reviewers/reviewer_2.jpg" alt="Kate" />
      </div>
      <p class="review-gallery__p">
        <svg class="mark" width="54" height="40"><use href="images/icons.svg#mark"></use></svg>Opinion number 2
      </p>
      <div class="review-gallery__deco">
        <span class="review-gallery__ellipse"></span>
        <span class="review-gallery__ellipse"></span>
        <span class="review-gallery__ellipse"></span>
      </div>
      <p>Kate, Los Santos</p>
    </div>
    <div class="review-gallery__opinion">
      <div class="review-gallery__reviewer">
        <img
          class="review-gallery__reviewer"
          src="images/reviewers/reviewer_3.jpg"
          alt="Jessica"
        />
      </div>
      <p class="review-gallery__p">
        <svg width="54" height="40"><use href="images/icons.svg#mark"></use></svg>Opinion number 3
      </p>
      <div class="review-gallery__deco">
        <span class="review-gallery__ellipse"></span>
        <span class="review-gallery__ellipse"></span>
        <span class="review-gallery__ellipse"></span>
      </div>
      <p>Jessica, Cracow</p>
    </div>
    <div class="review-gallery__display">
      <button class="review-gallery__indicator" onclick="currentDiv(1)">
        <svg width="12.8"><use href="images/icons.svg#home-opinion"></use></svg>
      </button>
      <button class="review-gallery__indicator" onclick="currentDiv(2)">
        <svg width="12"><use href="images/icons.svg#ellipse"></use></svg>
      </button>
      <button class="review-gallery__indicator" onclick="currentDiv(3)">
        <svg width="12"><use href="images/icons.svg#ellipse"></use></svg>
      </button>
    </div>
  </div>
</div>
