
<!-- Footer -->

<section class="footer">
	<div class="footer__wrapper">
		<div class="footer__display">
			<div class="footer__main-title">
				<div class="footer__subtitle1">HOMEMADE ICE CREAM MADE</div>
				<div class="footer__subtitle2">WITH PASSION</div>
			</div>
			<div class="footer__display-links">
				<div class="footer__links">
					<a href="https://www.github.com" target="_blank" class="footer__links-background">
					<svg class="footer__links-icon-left">				
						<use href="./images/icons.svg#icon-facebook"></use>
					</svg>
					</a>
					<a href="https://telegram.org" class="footer__links-background">
						<svg class="footer__links-icon-middle">
							<use href="./images/icons.svg#icon-telegram"></use>
						</svg>
					</a>
					<a href="https://www.facebook.com" class="footer__links-background">
						<svg class="footer__links-icon-right">					
							<use href="./images/icons.svg#icon-github"></use>
						</svg>
					</a>
				</div>
			</div>	
		</div>
		<div class="footer__communication"> FEEL FREE TO CONTACT
			<a href="tel:+61(0)383766284" class="footer__digits">+61 (0) 383 766 284</a>
		</div>
		<div class="footer__rights-top">© 2019 - IceCream. 
		</div>
		<div class="footer__rights-bottom">All Rights Reserved.			
		</div>		
	</div>
</section>

