
<!-- Footer -->

<footer class="footer">
	<div class="main__title">
		<div class="sub__title1">HOMEMADE ICE CREAM MADE</div>
		<div class="sub__title2">WITH PASSION</div>
	</div>
	<div class="links">
		<a href="#" class="links__background">
		<svg class="links__icon">
			<!-- <use href="images/icons.svg#github" class="links_icon-svg"></use> -->
		</svg>
		</a>
		<a href="#" class="links__background">
			<svg class="links__icon">
				<!-- <use href="images/icons.svg#telegram" class="links_icon-svg"></use> -->
			</svg>
		</a>
		<a href="#" class="links__background">
			<svg class="links__icon">
				<!-- <use href="images/icons.svg#facebook" class="links_icon-svg"></use> -->
			</svg>
			</a>
		</div>
		<div class="f__communication"> FEEL FREE TO CONTACT
			<a href="tel:+61(0)383766284" class="f__digits">+61 (0) 383 766 284</a>
		</div>
		<div class="f__rights">© 2019 - IceCream. All Rights Reserved.
		</div>
	</div>
</section>

