<!-- <!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ice Cream Passion</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
      integrity="sha512-ISS7cAi1PEhQ8jnbJpJZMd29NlhNj4AWYyLOSp2CE/CsHxTCu+r+t0D2yoJudVrd0/8fTVPUVDzY5Tvli75u/g=="
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../sass/main.css" />
    <body></body>
  </head>
   -->
<!-- Header -->
<header class="main-header">   
        <!-- Logo -->
        <div class="logo">
            <img
            src="./images/hero-header/logo.png"
            srcset="./images/hero-header/logo@2x.png 2x"
            alt="logo-icecream"/>
        </div>
        <!-- Navigation -->
        <nav class="nav__menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="#home">Home</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#about">About us</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#how-it-s-made">How it's made?</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#products">Our products</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#contact">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="menu-buttons">
            <!-- Button Open Mobile Menu -->
                <button class="mobile-menu__btn" type="button" mobile-menu--open>
                    <svg class="mobile-menu__btn-icon">
                        <use href="./images/icons.svg#icon-burger"></use>
                    </svg>
                </button>
            <!-- Button Open Modal Window -->
                <button class="modal-window__open-btn" type="button">Buy now  
                    <svg class="modal-window__icon">
                        <use href="./images/icons.svg#icon-buy-now"></use>
                    </svg>
                </button>
        <!-- Mobile Menu-->
        </div>
        <div class="mobile-menu mobile-menu--is-hidden" mobile-menu>
            <button class="modal-window_open-btn" type="button">Buy now</button>
            <ul class="nav__list">
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href="#about">About us</a>
                </li>
                <li>
                    <a href="#how-it-s-made">How it's made?</a>
                </li>
                <li>
                    <a href="#products">Our products</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </header>
    <body>
    <!-- Hero -->
    <div class="hero">
        <div class="page-title">
            <h1 class="page-title__header">Ice cream made with <span class="page-title__header--passion">passion</span></h1> 
            <div class="page-title__buttons">
                <button class="page-title__buttons--products">Products</button>
                <button class="page-title__buttons--how-its-made">How it's made?</button>
            </div>
        </div>
        <div class="hero-description">
            <div>
                <img class="hero-description__icon" src="./images/hero-header/milk.png"
                srcset="./images/hero-header/milk@2x.png 2x"
                alt="spill-jug-of-milk"/>
            </div>
            <div class="hero-description__box">   
                <p class="hero-description__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, voluptates.</p>
                <img class="hero-description__right-arrow"
                        src="./images/hero-header/arrow-right.png"
                        alr="right-arrow"/>
            </div> 
        </div>
        <div class="main-theme">
            <img class="main-theme__bg-pic" src="./images/hero-header/big-pink-ellipse.png"
            alt="big-pink-ellipse"/>
            <img class="main-theme__main-pic" src="./images/hero-header/main-ice-cream.png"
            srcset="./images/hero-header/main-ice-cream@2x.png 2x"
            alt="main=picture-ice-cream"/>
        </div>
        <div class="hero-right-side">
            <div>
                <img class="hero-right-side__ellipse" src="./images/hero-header/small-white-ellipse.png"
                alt="small-white-ellipse"/>
                <div>
                    <p class="hero-right-side__number">16</p>
                    <p class="hero-right-side__subtitle">cafes</p>
                </div>
                    <img class="hero-right-side__ellipse" src="./images/hero-header/small-white-ellipse.png"
                    alt="small-white-ellipse"/>
                <div>
                    <p class="hero-right-side__number">23</p>
                    <p class="hero-right-side__subtitle">food trucks</p>
                </div>
            </div>
            <img class="hero-right-side__pic" src="./images/hero-header/so-tasty.png"
            srcset="./images/hero-header/so-tasty@2x.png 2x"
            alt="girl-eat-ice-cream-and-shouting-soooo-tasty"/>
        </div>
    </div>  
    

