<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ice Cream Passion</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
      integrity="sha512-ISS7cAi1PEhQ8jnbJpJZMd29NlhNj4AWYyLOSp2CE/CsHxTCu+r+t0D2yoJudVrd0/8fTVPUVDzY5Tvli75u/g=="
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../sass/main.css" />
    <body></body>
  </head>
  
<!-- Header -->
<header class="hero-header">   
        <!-- Logo -->
    <div class="main-header">
        <div><img class="logo" 
            src="../images/hero-header/logo.png"
            srcset="../images/hero-header/logo@2x.png 2x"
            alt="logo-icecream"/>
        </div>
        <!-- Navigation -->
        <nav class="nav__menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="#home">Home</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#about">About us</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#how-it-s-made">How it's made?</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#products">Our products</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#contact">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="menu-buttons">
            <!-- Button Open Mobile Menu -->
            <button class="mobile-menu__btn" type="button">
                <svg class="mobile-menu__btn-icon">
                    <use href="../images/svg-sprite.svg#icon-burger"></use>
                </svg>
            </button>
            <!-- Button Open Modal Window -->
            <button class="modal-window_open-btn" type="button">Buy now</button>
        </div>
        <!-- Mobile Menu-->
        <div class="mobile-menu">
            <button class="modal-window_open-btn" type="button">Buy now</button>
            <ul class="nav__list">
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href="#about">About us</a>
                </li>
                <li>
                    <a href="#how-it-s-made">How it's made?</a>
                </li>
                <li>
                    <a href="#products">Our products</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Hero -->
    <div class="hero">
        <div>
            <img src="../images/hero-header/page-title.png"
            srcset="../images/hero-header/page-title@2x.png 2x"
            alt="page-title-logo-ice-cream-passion"/>
            <button>Products</button>
            <button>How it's made?</button>
        </div>
        <div>
            <img src="../images/hero-header/milk.png"
                srcset="../images/hero-header/milk@2x.png 2x"
                alt="spill-jug-of-milk"/>
            <div>   
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, voluptates.</p>
                <button>arrow-right</button>
            </div> 
        </div>
        <div>
            <img src="../images/hero-header/big-pink-ellipse.png"
            alt="big-pink-ellipse"/>
            <img src="../images/hero-header/main-ice-cream.png"
            srcset="../images/hero-header/main-ice-cream@2x.png 2x"
            alt="main=picture-ice-cream"/>
        </div>
        <div>
            <div>
                <img src="..images/hero-header/small-white-ellipse.png"
                alt="small-white-ellipse"/>
                <p>16</p>
                <p>cafes</p>
            </div>
            <div>
                <img src="..images/hero-header/small-white-ellipse.png"
                alt="small-white-ellipse"/>
                <p>23</p>
                <p>food trucks</p>
            </div>
            <div>
                <img src="../images/hero-header/so-tasty.png"
                srcset="../images/hero-header/so-tasty@2x.png 2x"
                alt="girl-eat-ice-cream-and-shouting-soooo-tasty"/>
            </div>
    </div>  
</header>
