<!-- head just to look during programming -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
      integrity="sha512-ISS7cAi1PEhQ8jnbJpJZMd29NlhNj4AWYyLOSp2CE/CsHxTCu+r+t0D2yoJudVrd0/8fTVPUVDzY5Tvli75u/g=="
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../sass/main.css" />

    <title>Document</title>
  </head>
  <body></body>
</html>
<!-- end just to look head -->

<!-- products section -->
<!-- title -->
<section class="products section">
  <div class="container">
    <p class="products__description">100% NATURAL</p>
    <h2 class="products__title">PRODUCTS</h2>
    <!-- product info -->
    <ul class="products__list list">
      <li class="products__item">
        <h3 class="products__item-title">ice cream</h3>
        <p class="products__item-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="btn__products" type="button"></button>
      </li>
      <li class="products__item">
        <h3 class="products__item-title">ice coffee</h3>
        <p class="products__item-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
      </li>

      <li class="products__item">
        <h3 class="products__item-title">milkshakes</h3>
        <p class="products__item-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
      </li>
    </ul>
  </div>
</section>
