<!-- products section -->
<!-- title -->
<p class="products__description">100% NATURAL</p>
<h1 class="products__title">PRODUCTS</h1>
<!-- product info -->
<ul class="products__list">
  <li class="products__item">
    <h2 class="products__item-title">ICE CREAM</h2>
    <p class="products__item-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et. dolore magna aliqua facilisis.
    </p>
  </li>
  <li class="products__item">
    <h2 class="products__item-title">ice coffee</h2>
    <p class="products__item-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et. dolore magna aliqua facilisis.
    </p>
  </li>

  <li class="products__item">
    <h2 class="products__item-title">milkshakes</h2>
    <p class="products__item-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et. dolore magna aliqua facilisis.
    </p>
  </li>
</ul>
