.container {
  max-width: 320px;
  padding: 0;
  margin: 0px;
}

.about {
}

.section.about {
background-color: #fff5f6;
}

.container.about {
background-color: #fff5f6;
width: 100vw;
margin: 0 auto;
}

.about__img {
width: 280px;
height: 279px; 
background-image:url(../images/about/about280.png);
margin-left: 20px;
margin-right: 20px;

}

.about__description {
font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.1666;

text-align: center;
text-transform: uppercase;

color: #ffa5ba;

padding-top: 125px;
margin: 0px;
}

.about__title {
font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 1.147;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;

color: #d41443;

margin-top: 15px;
margin-left: 59px;
margin-right: 61px;
margin-bottom: 26px;
}


.about__list {
padding: 0;
margin-top: 46px;
margin-bottom: 17px;
margin-left: 50px;
margin-right: 50px;
}

.about__item {
background: #fff5f6;
max-width: 220px;

text-align: left;
position: relative;
justify-content: left;
align-items: initial;
}

.about__item-first-description {
max-width: 220px;
margin-top: 46px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 162%;
color: #000000;
}

.about__item-second-description {
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 162%;
color: #907e82;

max-width: 220px;
margin-top: 47px;
margin-bottom: 47px;
}

.about__modal-window--open-btn {
width: 176px;
height: 44px;
background: #ffffff;
border-radius: 22px;
border: none;
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
text-align: center;
color: #d41443;
justify-content: center;
align-items: center;

margin-left: 50px;
margin-right: 94px;
}

.about__modal-window--icon {
width: 4.43px;
height: 8px;
margin-left: 13.62px;
}

.about__menu-buttons {
display: flex;
}


@media screen and (min-width: 320px) {
 
  .container {
      max-width: 320px;
      padding: 0;
      margin: 0px;
    }

.section.about {
  background-color: #fff5f6;
}

.container.about {
  background-color: #fff5f6;
  width: 100vw;
  margin: 0 auto;
}

.about__img {
  width: 280px;
  height: 279px; 
  background-image:url(../images/about/about280.png);
  margin-left: 20px;
  margin-right: 20px;
}

.about__backgrnd {
  width: 320px;
  height: 133px; 
  background-image:url(../images/about/aboutbg320.png);
 
  margin-left: 0px;
  margin-right: 0px;
  position: absolute;
  top: 790px;
}

.about__description {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1666;

  text-align: center;
  text-transform: uppercase;

  color: #ffa5ba;

  padding-top: 125px;
  margin: 0px;
}

.about__title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.147;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #d41443;

  margin-top: 15px;
  margin-left: 59px;
  margin-right: 61px;
  margin-bottom: 26px;
}


.about__list {
  padding: 0;
  margin-top: 46px;
  margin-bottom: 17px;
  margin-left: 50px;
  margin-right: 50px;
}

.about__item {
  background: #fff5f6;
  max-width: 220px;

  text-align: left;
  position: relative;
  justify-content: left;
  align-items: initial;
}

.about__item-first-description {
  max-width: 220px;
  margin-top: 46px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: #000000;
}

.about__item-second-description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: #907e82;

  max-width: 220px;
  margin-top: 47px;
  margin-bottom: 47px;
}

.about__item-second-description-hidden {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: #907e82;

  max-width: 220px;
  margin-top: 47px;
  margin-bottom: 47px;
  display: none;
}

.about__modal-window--open-btn {
  width: 176px;
  height: 44px;
  background: #ffffff;
  border-radius: 22px;
  border: none;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #d41443;
  justify-content: center;
  align-items: center;

  margin-left: 50px;
  margin-right: 94px;
}

.about__modal-window--icon {
  width: 4.43px;
  height: 8px;
  margin-left: 13.62px;
}

.about__menu-buttons {
  display: flex;
}
}

@media screen and (min-width: 768px) {
  .about__modal-window--open-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 62px;
    margin-right: 200px;
    margin-left: 396px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
 

  .container {
      max-width: 768px;
      padding: 0;

    }

.container.about {
    background-color: #fff5f6;
    width: 100vw;
    margin: 0 auto;

    max-width: 768px;

  }
  .about__img {
    width: 340px;
    height: 339px; 
    background-image:url(../images/about/about340.png);
    margin-left: 39px;
    margin-right: 17px;
    display: inline-block;
  }

  .about__backgrnd {
    width: 320px;
    height: 133px; 
    background-image:url(../images/about/aboutbg320.png);
   
    margin-left: 0px;
    margin-right: 0px;
    position: absolute;
    top: 790px;
    display: none;
  }

  .about__description {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.1538;
    text-align: center;
    text-transform: uppercase;
    color: #FFA5BA;

    padding-top: 130px;
    margin: 0px;
  }
  
  .about__title {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.1458;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;

    margin-top: 16px;
    margin-bottom: 50px;
  }

  .about__list {
    padding: 0;
    max-height: 283px;
    margin-top: 100px;
    
    margin-left: 396px;
    margin-right: 36px;

    display: block;
    justify-content: right;
    position: absolute;
    
    top: 130px;
    left: 0px;

  }

  .about__item {
    background: #fff5f6;
    max-width: 344px;

    text-align: left;
    position: relative;
    justify-content: left;
    align-items: initial;
  }
  
  .about__item-first-description {
    max-width: 340px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 176%;
    color: #000000;
    margin-top: 100px;
    margin-bottom: 0px;
  }
  
  .about__item-second-description {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 176%;
    letter-spacing: 0.04em;
    color: #907E82;
  
    max-width: 340px;
    max-height: 155px;
    
    margin-bottom: 0px;
    margin-top: 30px;
    display: none;
  }

  .about__item-second-description-hidden {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 176%;
    letter-spacing: 0.04em;
    color: #907E82;
  
    max-width: 340px;
    max-height: 155px;
    
    margin-bottom: 0px;
    margin-top: 30px;
    display: block;
  }

  .about__modal-window--open-btn {
    width: 176px;
    height: 44px;
    background: #ffffff;
    border-radius: 22px;
    border: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #d41443;
    margin-left: 396px;
    margin-right: 200px;
    margin-top: 62px;
  }
  .about__modal-window--icon {
    width: 4.43px;
    height: 8px;
    margin-left: 13.62px;
  }
  .about__menu-buttons {
    display: flex;
  }

@media screen and (min-width: 1280px) {
 

  .container {
    max-width: 1280px;
    padding: 0;
    height: auto;
    margin: 0px;
  }

  .about__img {
    width: 516px;
    height: 516px; 
    background-image:url(../images/about/about516.png);
    margin-left: 112px;
    margin-right: 74px;
    margin-bottom: 39px;

    display: inline-block;
  }

  .about__backgrnd {
    width: 1282px;
    height: 534px; 
    background-image:url(../images/about/aboutbg1280.png);
    
   
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    position: absolute;
    top: 340px;
    left: 0px;

    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
    opacity: 0.6;
  }


  
  .about__description {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.1333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: #FFA5BA;

    padding-top: 125px;
    margin: 0px;
  }
  
  .about__title {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 1.1379;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #D41443;

    margin-top: 15px;
    margin-bottom: 55px;
  }

  .about__list {
    padding: 0;
    max-height: 269px;
    margin-top: 106px;
    
    margin-left: 702px;
    margin-right: 115px;

    display: block;
    justify-content: right;
    position: absolute;
    
    top: 130px;
    left: 0px;

  }

  .about__item {
    background: #fff5f6;
    max-width: 463px;

    text-align: left;
    position: relative;
    justify-content: left;
    align-items: initial;
  }
  
  .about__item-first-description {
    max-width: 463px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.04em;
    color: #000000;

    margin-top: 106px;
    margin-bottom: 0px;
    z-index: 10;
   
  }
  
  .about__item-second-description {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 194%;
    letter-spacing: 0.04em;
    color: #907E82;
  
    max-width: 463px;
    max-height: 117px;
    
    margin-bottom: 0px;
    margin-top: 35px;
    display: none;
    z-index: 10;
  
  }

  .about__item-second-description-hidden {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 194%;
    letter-spacing: 0.04em;
    color: #907E82;
  
    max-width: 463px;
    max-height: 117px;
    
    margin-bottom: 0px;
    margin-top: 35px;
    display: flex;
    z-index: 3;
  }

  .about__modal-window--open-btn {
    width: 176px;
    height: 44px;
    background: #ffffff;
    border-radius: 22px;
    border: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #d41443;
    margin-left: 396px;
    margin-right: 200px;
    margin-top: 92px;
    display: flex;
  }
  .about__modal-window--icon {
    width: 4.43px;
    height: 8px;
    margin-left: 13.62px;
  }
  .about__menu-buttons {
   width: 176px;
   height: 44px ;
    display: inline-block;
    
    justify-content: left;
    position: absolute;
    top: 580px;
    left: 305px;
    margin-right: 404px;
    margin-bottom: 146px;
  }
}
}
