.container.advantages {
  width: 100vw;
  margin: 0 auto;
  height: 100vh;
}

.section2.advantages {
  background-color: #fff5f6;
  width: 100vw;
  margin: 0 auto;
  padding-bottom: 921px;
}
.advantages__description {
  font-family: 'Titan One';
  font-size: 18px;
  line-height: 1.167;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin: 0;
  margin-bottom: 15px;
}

.advantages__title-hidden {
  visibility: hidden;
  margin: 0;
  max-height: 0px;
}

.advantages__title {
  font-family: 'Titan One';
  font-size: 34px;
  line-height: 1.147;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  padding-bottom: 140px;
}

.advantages__list-box {
  display: flex;
  position: relative;
  top: 276px;
  margin-bottom: 100px;
}

.advantages__list {
  padding: 0;
  margin-top: 55px;
}

.advantages__item {
  background: #fff5f6;
  max-width: 230px;
  max-height: 156px;
  text-align: left;
  position: relative;
  justify-content: left;
  align-items: initial;
  margin-left: 20px;
  margin-right: 70px;

  &:nth-child(2) {
    background: #fff5f6;
  }
  &:nth-child(3) {
    background: #fff5f6;
  }

  &:not(:last-child) {
    margin-bottom: 38px;
  }

  &::before {
    content: url(../images/advantages/advantages1.png);
    display: block;
    width: 230px;
    height: 156px;
    position: absolute;
    top: -16px;
    margin-bottom: 38px;
  }

  &:nth-child(2)::before {
    content: url(../images/advantages/advantages2.png);
  }
  &:nth-child(3)::before {
    content: url(../images/advantages/advantages3.png);
  }
}

.advantages__item-title {
  margin: 0px;
  padding-top: 46px;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.138;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
.advantages__item-description {
  max-width: 230px;
  margin-top: 19px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  color: #000000;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {

  .container {
    max-width: 768px;
    padding: 0;
  }

  .section2.advantages {
    background-color: #fff5f6;
    width: 100vw;
    margin: 0 auto;
    padding-bottom: 660px;
  }

  .advantages__title-hidden {
    margin: 0;
    max-height: 0px;
  }

  .advantages__item-description {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 174%;
    color: #000000;
    max-width: 180px;
    max-height: 71px;
    margin: 0;
  }
  .advantages__item-title {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 1.1458;

    color: #d41443;
    padding-bottom: 13px;
  }
  .advantages__list {
    display: flex;
    margin-left: 36px;
    margin-right: 76px;
    margin-top: 66px;
  }

  .advantages__list-box {
    display: flex;
    position: relative;
    top: 130px;
    left:0px;
  }

  .advantages__item {
    max-width: 180px;
    max-height: 226px;
    margin: 0;

    &:not(:last-child) {
      margin-right: 60px;
      margin-bottom: 0;
    }

    &::before {
      content: url(../images/advantages/advantages1.png);
      width: 220px;
      height: 226px;
      top: 0px;
      left: auto;
    }

    &:nth-child(2)::before {
      content: url(../images/advantages/advantages2.png);
    }
    &:nth-child(3)::before {
      content: url(../images/advantages/advantages3.png);
    }
  }
  .advantages__item-title {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.14583;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;

    margin-top: 36px;
  }
  .advantages__item-description {
    max-width: 180px;
    max-height: 67px;
    overflow: hidden;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 174%;
    color: #000000;
  }
}
@media screen and (min-width: 1280px) {
  
  .section2.advantages {
    background-color: #fff5f6;
    width: 100vw;
    margin: 0 auto;
    padding-bottom: 778px;
  }
 
  .container {
    max-width: 1280px;
    padding: 0;
  }
  .advantages__title-hidden {
    margin: 0;
    max-height: 0px;
  }
  .advantages__item-description {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.02em;
    color: #000000;
  }

  .advantages__list-box {
    display: flex;
    position: relative;
    top: 55px;
    left:0px;
    margin-bottom: 0px;
  }

  .advantages__list {
    display: flex;
    margin-left: 115px;
    margin-right: 115px;
    margin-top: 112px;
  }

  .advantages__item-title {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 1.1379;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #d41443;
    padding: 0;
    margin-top: 0;
    max-width: 98px;
    max-height: 65px;
  }
  .advantages__item {
    max-width: 330px;
    max-height: 222px;
    margin: 0;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &::before {
      content: url(../images/advantages/advantages1.png);
      width: 33px;
      height: 50px;
      top: -82px;
    }

    &:nth-child(2)::before {
      content: url(../images/advantages/advantages2.png);
    }
    &:nth-child(3)::before {
      content: url(../images/advantages/advantages3.png);
    }
  }
  .advantages__item-description {
    max-width: 330px;
    max-height: 52px;

    margin-top: 15px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.02em;
    color: #000000;
  }
}
