.logo{
    width: 199px;
    height: 50px;
    left: 20px;
    top: 6px;   
    }


@media screen and (min-width: 768px){
.logo{
    left: 34px;
    top: 37px;   
    }
}
@media screen and (min-width: 1200px){
.logo{
    left: 46px;
    }
}