.contacts {

  &__wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient( 
      #ffffff 8%,
      #fff5f6 8%);    
  }	

  &__display {
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
  }

  &__background {
      margin: 0 auto;
      max-width: 220px;
      padding: 43px 20px;
      font-family: 'DM Sans', sans-serif;
      font-size: 12px;
      font-weight: 500;
      background:  #ffffff;
      box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
      border-radius: 24px;
		&--first {
      	margin-top: -84px;
		}
  }

  &__category {
      height: 16px;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 186%;
      letter-spacing: 0.04em;
      color: #ffffff;
      border-radius: 4px;

        &--cafe {
        width: 80px;
        background: #f0d1a5;
    }
        &--foodtruck {
        width: 130px;
        background: #c2e297;
    }
  }

  &__place {
      margin: 25px 0;
      padding-bottom: 25px;
      border-bottom: 1px solid #e1e1e1;
  }

  &__location {
      margin-bottom: 10px;
      color: #000000;
      line-height: 186%;
      letter-spacing: 0.04em;
  }

  &__description {
      line-height: 18px;
      color: #907e82;
  }

  &__opening {
      margin: 25px 0;
  }
  
  &__opening-days {
      line-height: 186%;
      color: #000000;
  }

  &__opening-hours {
      line-height: 186%;
      color: #ffa5ba;
  }

  &__opening-hours:not(:last-child) {
      margin-bottom: 10px;
  }

  &__digits {
      padding-top: 25px;
      border-top: 1px solid #e1e1e1;
  }

  &__phone,
  &__email {
      text-decoration: none;
      line-height: 18px;
      color: #907e82;
  }

  &__slider {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 54px;
      margin-bottom: 113px;
      gap: 15px;
  }

  &__button-left,
  &__button-right {
      margin: 0 auto;
      width: 161.45px;
      height: 44px;
      font-weight: 700;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 22px;
      border: none;
      cursor: pointer;
      margin: 0;
  }

  &__button-left {
    color:  #ffffff;
    background: #d41443;
    outline: none;
    stroke:  #ffffff;    
  }

  &__button-right {
    color: #d41443;
    background:  #ffffff;
    stroke:  #d41443;
  }
  
  &__button-icon {
      width: 20px;
      height: 10px;
      padding-left: 10px;
  }

  &__slider-arrow-first {
      width: 4.28px;
      height: 8px;
      stroke:  #ffffff;
  }
  &__slider-arrow-second {
      width: 4.28px;
      height: 8px;
      stroke:#d41443;
  }
}


@media screen and (min-width: 768px) {
  .contacts {
                   
    &__display {
      flex-direction: row;
    }
    &__background {
      margin: 0;
      margin-top: -84px;
      padding: 50px 32px 50px 31px;
      font-size: 14px;
    }
    &__category {
      height: 28px;
      font-size: 16px;
      line-height: 186%;
      &--cafe {
        width: 73px;
      }
      &--foodtruck {
        width: 138px;
      }
    }
    &__place {
      margin: 30px 0;
      padding-bottom: 30px;
    }
    &__opening {
      margin: 30px 0;
    }
    &__opening-hours:not(:last-child) {
      margin-bottom: 16px;
    }
    &__digits {
      padding-top: 30px;
    }
    &__slider {
      margin-top: 81px;
      flex-direction: row;
      justify-content: center;
      gap: 14.5px;
    }
    &__button-left,
    &__store-right {
      margin: 0;
      width: 191.45px;
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .contacts {
    width: 100%;
    display: flex;
    justify-content: center;

    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;            
    }

    &__display {
      flex-direction: row;
      gap: 31px;
    }
    &__background {
      margin: 0;
      margin-top: -102px;
      padding: 51px 44px 62px 43px;
      font-size: 16px;
      max-width: 330px;
    }
    &__category {
      height: 28px;
      font-size: 16px;
      line-height: 186%;
      &--cafe {
        width: 73px;
      }
      &--foodtruck {
        width: 138px;
      }
    }
    &__place {
      margin: 32px 0;
      padding-bottom: 32px;
    }
    &__opening {
      margin: 32px 0;
    }
    &__opening-hours:not(:last-child) {
      margin-bottom: 15px;
    }
    &__digits {
      padding-top: 32px;
    }
    &__slider {
      margin-top: 86px;
      flex-direction: row;
      justify-content: center;
      gap: 15px;
    }
    &__button-left,
    &__button-right {
      margin: 0;
      width: 198px;
      font-size: 16px;
    }
  }
}