.cnts {
      display: flex;
      flex-direction: column;
      background-color: #fff5f6;
	

  &__background {
      margin: 0 auto;
      padding: 43px 20px;
      width: 220px;
      font-family: 'DM Sans', sans-serif;
      font-size: 12px;
      font-weight: 500;
      background:  #ffffff;
      background-color: #FFF5F6;
      box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
      border-radius: 24px;
			&--first {
      		margin-top: -84px;
			}
  }

  &__background:not(:last-child) {
      margin-bottom: 20px;
  }

  &__wrapper {
			display: flex;
			margin: 4158px;
			position: absolute;
			max-width: 1280px;
			height: 1022px;
    }

  &__category {
      height: 16px;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 186%;
      letter-spacing: 0.04em;
      color: #ffffff;
      border-radius: 4px;

    &--cafe {
        width: 80px;
        background: #f0d1a5;
    }
    &--foodtruck {
        width: 130px;
        background: #c2e297;
    }
  }

  &__place {
      margin: 25px 0;
      padding-bottom: 25px;
      border-bottom: 1px solid #e1e1e1;
  }

  &__location {
      margin-bottom: 10px;
      color: #000000;
      line-height: 186%;
      letter-spacing: 0.04em;
  }

  &__description {
      line-height: 18px;
      color: #907e82;
  }

  &__opening {
      margin: 25px 0;
  }
  
  &__opening-days {
      line-height: 186%;
      color: #000000;
  }

  &__opening-hours {
      line-height: 186%;
      color: #ffa5ba;
  }

  &__hours:not(:last-child) {
      margin-bottom: 10px;
  }

  &__digits {
      padding-top: 25px;
      border-top: 1px solid #e1e1e1;
  }

  &__phone,
  &__email {
      text-decoration: none;
      line-height: 18px;
      color: #907e82;
  }

  &__slider {
      display: flex;
      flex-direction: column;
      margin-top: 54px;
      margin-bottom: 113px;
      gap: 10px;
  }

  &__button {
      margin: 0 auto;
      width: 161.45px;
      height: 44px;
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #d41443;
      background: #ffffff;
      border-radius: 22px;
      border: none;
      
      &:hover,
      &:focus {
        color: #ffffff;
        background: #d41342;
        outline: none;
        cursor: pointer;
    }
  }

  &__button-icon {
      width: 3.61px;
      height: 8px;
  }

  &__slider-arrow {
      width: 3.61px;
      height: 8px;
  }
}