
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFB8CA; 
    max-width:  100%;
    padding-left: 20px;
    padding-right: 20px; 
    padding-top: 6px;
    padding-bottom: 6px;
    height: auto;
}

@media screen and (min-width: 768px){
.main-header{
    padding-left: 34px;
    padding-top: 37px;
    padding-right: 34px;
    padding-bottom: 37px;
    }

.mobile-buttons{
    display: flex;
    justify-content: space-between;
} 
}

@media screen and (min-width: 1200px){
.main-header{
    padding-left:48px;
    }
}