.nav__list{
    display: none
}

.nav__link{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #FFFFFF; 
    & :active{
        color: #D41443;  
    }  
}

@media screen and (min-width: 1200px){
.nav__list {
    display: flex;
    justify-content: space-between;
    }

.nav__item:not(:last-child){
padding-right:35px;
}
}