.container-products {
  width: 100%;
  margin: 0 auto;
}
.section.products {
  margin-bottom: 98px;
  margin-top: 121px;
}
.products__description {
  font-family: 'Titan One';
  font-size: 18px;
  line-height: 1.167;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin: 0;
  margin-bottom: 15px;
}
.products__title {
  font-family: 'Titan One';
  font-size: 34px;
  line-height: 1.147;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  padding-bottom: 140px;
}

.products__item {
  background: #ffb8ca;
  border-radius: 24px;
  max-width: 280px;
  max-height: 485px;
  text-align: center;
  margin: 0 auto;
  position: relative;

  &:nth-child(2) {
    background: #f0d1a5;
  }
  &:nth-child(3) {
    background: #c2e297;
  }

  &:not(:last-child) {
    margin-bottom: 113px;
  }

  &::before {
    content: url(../images/products/products-ice_cream.png);
    display: block;
    width: 249px;
    height: 252px;
    margin: 0 auto;
    position: absolute;
    top: -113px;
    left: 16px;
  }

  &:nth-child(2)::before {
    content: url(../images/products/products-ice_coffee.png);
  }
  &:nth-child(3)::before {
    content: url(../images/products/products-milkshake.png);
  }
}

.products__item-title {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 161px;

  &::after {
    content: url(../images/products/products-ellipses.svg);
    display: block;
    padding-top: 13px;
    width: 26px;
    margin: 0 auto;
  }
}
.products__item-description {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  max-width: 200px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.btn__products {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-image: url(../images/products/products-btn.svg);
  margin-bottom: 41px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .section.products {
    margin-bottom: 112px;
  }

  .container {
    max-width: 768px;
    padding: 0px;
  }
  .products__description {
    font-size: 26px;
    line-height: 1.154;
  }
  .products__title {
    font-size: 48px;
    line-height: 1.146;
    padding-bottom: 150px;
  }
  .products__list {
    display: flex;
    justify-content: center;
  }
  .products__item {
    min-width: 220px;
    margin: 0;

    &:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0;
    }

    &::before {
      content: url(../images/products/products-ice_cream-tablet.png);
      width: 220px;
      height: 226px;
      top: -104px;
      left: auto;
    }

    &:nth-child(2)::before {
      content: url(../images/products/products-ice_coffee-tablet.png);
    }
    &:nth-child(3)::before {
      content: url(../images/products/products-milkshake-tablet.png);
    }
  }
  .products__item-title {
    padding-top: 152px;
  }
  .products__item-description {
    line-height: 1.786;
    max-width: 198px;
    max-height: 124px;
    overflow: hidden;
  }
}
@media screen and (min-width: 1280px) {
  .section.products {
    margin-top: 127px;
    margin-bottom: 119px;
  }
  .container {
    max-width: 1280px;
  }
  .products__description {
    font-size: 30px;
    line-height: 1.133;
    letter-spacing: 0.04em;
  }
  .products__title {
    font-size: 58px;
    line-height: 1.134;
    letter-spacing: 0.06em;
    padding-bottom: 259px;
  }
  .products__item {
    min-width: 325px;
    min-height: 525px;

    &:not(:last-child) {
      margin-right: 27px;
    }

    &::before {
      content: url(../images/products/products-ice_cream-desktop.png);
      width: 335px;
      height: 335px;
      top: -208px;
    }

    &:nth-child(2)::before {
      content: url(../images/products/products-ice_coffee-desktop.png);
    }
    &:nth-child(3)::before {
      content: url(../images/products/products-milkshake-desktop.png);
    }
  }
  .products__item-title {
    font-size: 30px;
    line-height: 1.133;
    letter-spacing: 0.04em;
    padding-top: 163px;
  }
  .products__item-description {
    max-width: 241px;
    max-height: 106px;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.04em;
    margin-top: 32px;
    margin-bottom: 62px;
  }
  .btn__products {
    margin-bottom: 50px;
  }
}
